.popup {
  background-color: rgb(211, 110, 108);
  color: rgb(101, 10, 9);
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  max-width: 400px;
  padding: 8px 12px;
  border-radius: 0 0 5px 5px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 1.1rem;
  font-weight: 300;
  transition: transform 300ms ease-in-out;
}
.popup--close {
  transform: translate(-50%, -100%);
}
.popup--success {
  background-color: rgb(124, 196, 119);
  color: rgb(8, 50, 5);
}